body {
  margin                 : 0;
  font-family            : Roboto !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : '#ffffff'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Roboto;
  src        : url(./assets/font/Roboto/Roboto-Regular.ttf);
}

.section-home {
  /* background           : #013952 url(./assets/images/home-2.png) no-repeat center 100%; */
  background-size      : cover;
  background-position-y: -120%;
  z-index: 1;
  color: #ffffff;
}