body {
  margin                 : 0;
  font-family            : Roboto !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : '#24292f'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Roboto;
  src        : url(./assets/font/Roboto/Roboto-Regular.ttf);
}
/* .about-sec{
  background: url(./assets/images/bg-img.jpg) no-repeat center;
} */