body {
  margin                 : 0;
  font-family            : Roboto !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : '#ffffff';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Roboto;
  src        : url(./assets/font/Roboto/Roboto-Regular.ttf);
}

.section-home {
  /* background           : #ffffff url(./assets/images/circuit-anima.svg) no-repeat center 100%; */
  background-size      : cover;
  background-position-y: -120%;
  z-index              : 1;
  color                : #ffffff;
}

.titles {
  position : relative;
  /* margin: 0 0 60px; */
}

.titles .title {
  /* margin: 0 0 10px;
  max-width: 70%; */
  font-size         : 55px;
  line-height       : 1.2;
  color             : #fff;
  font-weight       : 800;
  transition        : all 0.3s ease 0s;
  -moz-transition   : all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition     : all 0.3s ease 0s;
}

.titles .subtitle {
  font-size     : 14px;
  line-height   : 1.2;
  color         : #68e0cf;
  font-weight   : 600;
  text-transform: uppercase;
}

.header-hldr {
  /* background     : url(./assets/images/brush-paint.svg) no-repeat center; */
  background-size: cover;
  color          : #ffffff;
  padding        : 10px 50px;
  margin-top     : 12px;
}

.education-exp.title .inner-txt {
  padding        : 0 100px 0 50px;
  width          : max-content;
  margin         : 0 auto;
  background-size: cover;
}

.title .inner-txt {
  /* background     : url(./assets/images/brush-paint.svg) no-repeat center; */
  color          : #ffffff;
  background-size: contain;
}

/* p {
  color: rgba(0, 0, 0, 0.87) !important;
} */

.vertical-timeline-element-content {
  background    : #eeeeee !important;
  box-shadow    : 0 6px 8px -4px #999999 !important;
  display       : flex;
  flex-direction: column;
  row-gap       : 12px;
  align-items   : flex-start !important;
}

.vertical-timeline-element-content:after {
  display: none !important;
  content: unset !important;
}

.vertical-timeline-element-content .vertical-timeline-element-content-arrow {
  border-right: 7px solid #eeeeee !important;
  filter      : drop-shadow(0 6px 8px -4px #999999) !important;
}

.vertical-timeline .vertical-timeline-element--work:nth-child(even) .vertical-timeline-element-content {
  background-color: #FE6B8B !important;
  color           : #ffffff !important;
}

.vertical-timeline .vertical-timeline-element--work:nth-child(even) .vertical-timeline-element-content .vertical-timeline-element-content-arrow {
  border-right: 7px solid #FE6B8B !important;
}

.vertical-timeline:before {
  background-color: #FE6B8B !important;
  width           : 3px !important;
}

.skill-list {
  gap      : 20px;
  flex-wrap: wrap;
}

.skill-list .MuiSvgIcon-root {
  font-size: 3rem;
}




.d-none {
  display: none !important;
}

.vertical-timeline-element-icon {
  -webkit-transform          : translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.87), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%) !important;
} */

.vertical-timeline-element-content {
  align-items: center;
}

/* .main-container section:nth-child(odd) {
  background-color: #ffffff !important;
}

.main-container section:nth-child(even) {
  background-color: #F8F9F9 !important;
} */

.contact-form .group-val .label {
  background-color: #F8F9F9 !important;
}

.title-grey {
  background-color: #F8F9F9 !important;
}

/** new theme css */

* {
  box-sizing     : border-box;
  padding        : 0;
  margin         : 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color          : unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background             : var(--gradient-text);
  background-clip        : text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
} */

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation        : scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform        : scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform        : scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform        : scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform        : scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar : linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg     : #040C18;
  --color-footer : #031B34;
  --color-blog   : #042c54;
  --color-text   : #81AFDD;
  --color-subtext: #FF8A71;
}

.background__gradiant {
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.card__layout {
  /* display: flex;
  flex-direction: column; */

  padding   : 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vertical-timeline-element-date {
  color      : #ffffff;
  font-weight: bold !important;
}

.contact-form input::placeholder {
  color: #ffffff !important;

}



.w-100 {
  width: 100% !important;
}

@media screen and (min-width: 992px) {

  .header .burger-menu {
    display: none;
  }

}

@media screen and (max-width: 1025px) {
  .vertical-timeline-element-date {
    color: #000000;
  }

  /* .card__layout {
    margin-top: 20px !important;
  } */

  .ai-home-animation {
    width : 100% !important;
    /* height: 100% !important; */
  }

}

@media screen and (max-width: 992px) {
  .vertical-timeline-element-date {
    color: #000000;
  }

  .ai-home-animation {
    width     : 100% !important;
    /* height    : 100% !important; */
    margin-top: 20px;
  }

  .header .header-hldr {
    display: none;
  }

  .section-home.section-home {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .project-hldr {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .vertical-timeline {
    margin-top: 12% !important;
  }
}